:root {
    --background: rgb(100, 200, 100);
    --dark_background: rgb(80, 150, 80);
    --signatureColor: rgba(80, 150, 80, 0.25);
    --textSize: 1.2rem;

    --gateEditorBG: white;
}

body {
    background-color: var(--background);
    background: var(--background);
    font-size: var(--textSize);
}

div {
    display: var(--displayType, flex);
}

.horizontalContainer {
    flex-direction: row;
}

.verticalContainer {
    flex-direction: column;
}

.centerContent {
    align-items: center;
    align-content:center;
    justify-content: center;
}

.roundedCorners {
    border-radius: var(--bR, 10px);
}

.moduleContainer {
    margin: 20px;
    background: var(--bg, rgb(86, 173, 86));
}

h2 {
    margin: 10px;
}

.moduleTool {
    flex-direction: var(--flex-dir, column);
    margin-top: 10px;
    margin-bottom: 10px;
    background: var(--bg, none);
}

.inputField {
    align-content: flex-end;
    justify-content: center;
    padding: 10px;
    width: var(--w, 100%);
    background: var(--bg);
}

.inputField label {
    margin-right: 10px;
}

.inputField input {
    float: var(--align, right);
}

.inputField .textInput {
    text-transform: uppercase;
}

.inputField .numberContainer {
    width: 30%;
}

/* Truth table */
#truthTableContainer {
    --w: 400px;
    --h: 100%;
    --bg: none;
}

#truthTableContainer div {
    --bg: var(--background);
    padding: 10px;

    background: var(--bg);


    margin-left: 0px;
    margin-top: 10px;
}

table {
    width: 90%;
    background: var(--bg);
    text-align: center;
}

th {
    border-bottom: 2px solid black;
}

td:nth-child(5), th:nth-child(5) {
    border-left: 2px solid black;
}

td, th {
    border-right: 2px solid black;
}

td:last-of-type, th:last-of-type {
    border-right: none;
}

tr:nth-child(even) {
    background-color: var(--bg);
    filter: brightness(85%);
}


/* gateEditor */
.gateEditorFullContainer {
    padding: 10px;

    min-width: 1000px;
    min-height: 500px;

    max-width: 100%;
    max-height: 500px;

    background: var(--dark_background);
}

#gateEditorList {
    display: block;
    background: var(--gateEditorBG);

    width: var(--w, 200px);
    max-height: 100%;
    
    overflow-x: hidden;
    overflow-y: auto;
    
    padding-left: 10px;
}

#gateEditorContainer {
    width: 100%;
    height: auto;
    overflow: auto;
}
#gateEditorContainer canvas {
    width: 3200px;
    height: 2000px;

    display: block;
    background-color: var(--gateEditorBG);
}


/* Signature */

#signature {
    position: absolute;
    bottom: 0;
    right: 0;

    padding: 10px;
    padding-top: 0px;
    padding-bottom: 0px;

    border-radius: 40px;

    background: var(--signatureColor);
}