:root {
    --backgroundColor: rgb(100, 200, 100);
    --textSize: 1.2rem;
}

body {
    background: var(--backgroundColor);
    font-size: var(--textSize);
}

.moduleContainer {
    width: 330px;
    height: fit-content;
    margin: 20px;
    background: var(--bg, rgb(86, 173, 86));
    border-radius: 10px;
}

.horizontalModulesContainer {
    display: flex;
    flex-direction: row;
}

.verticalModulesContainer {
    display: flex;
    flex-direction: column;
}

h2 {
    margin: 10px;
}

.moduleTool {
    display: flex;
    flex-direction: column;
    width: 100px;
    width: var(--height, auto);
    align-items: center;
    align-content:center;
    justify-content: center;

    background: var(--bg);
}

.horizontalAlign {
    flex-direction: row;
}

.inputField {
    display: flex;
    align-content: flex-end;
    padding: 10px;
}

.inputField label {
    margin-right: 10px;
}

.inputField input {
    float: var(--align, right);
}

.inputField .textInput {
    text-transform: uppercase;
}

.inputField .numberContainer {
    width: 30%;
}